DB_URL=jdbc:mysql://localhost:3306/kfka?createDatabaseIfNotExist=true&serverTimezone=America/Sao_Paulo
DB_USERNAME=kfka
DB_PASSWORD=
JWT_SECRET=
ADMIN_EMAIL=
ADMIN_PASSWORD=
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
SPRING_PROFILES_ACTIVE=dev
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=3306
MEDIA_MINIMA=0
MEDIA_MAXIMA=10
FUSO_HORARIO=America/Sao_Paulo
